@font-face {
font-family: 'Circular Pro Book-Norm-0wuHi23i';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/eeb824be-24f1-42ae-b1c6-f0bf6de7a6fe/circularpro-book.woff') format('woff');
}