@font-face {
font-family: 'PT Mono-Bold-BO4N9bTU';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6e0b8f4a-a61c-4ce0-9d62-93a513b404a8/pt-mono-bold.woff') format('woff');
}