@font-face {
font-family: 'Circular Pro Black-Nor-1GKTN7Ge';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/0b6a1c04-0a67-474f-ab5c-fc8d767fa339/circularpro-black.woff') format('woff');
}