@font-face {
font-family: 'DIN Condensed-Bold-YpBe65w8';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/77f95b41-5097-4d7b-86d7-35700fc9557f/din-condensed-bold.woff') format('woff');
}